# Python
*.pyc
*.pyo
*.pyd
__pycache__

# Log files
logs/
*.log

# Virtual environments
.venv
.env

# IDEs
.idea
.vscode

# Test data
tests/data

# Docs
docs/build

# Build
dist

# Release
logseg.egg-info